
<table style="width:100%">
    <tr>
        <td>{{ form.voornaam }} <br>{{ form.voorletter }}< <br>{{ form.afkorting }}/td>
        <td>{{ form.voorvoeg}} {{ form.achternaam }}</td>
    </tr>
    <tr>
        <td>{{  form.adres }}</td>
    </tr>
    <tr>
        <td>{{ form.postcode }}</td>
        <td>{{ form.plaats }}</td>
        <td>{{ form.land }}</td>
    </tr>
    <tr>
        <td>{{ form.telefoon}}</td>
        <td>{{ form.mobiel }}</td>
    </tr>
     <tr>
         <td>{{ form.e_mail }}</td>
     </tr>
    <tr>
        <td>{{ form.geboortedatum }}</td>
    </tr>
    <tr>
        <td>{{ form.code }}</td>
        <td>{{ form.actief }}</td>
       <td>{{ form.lidvan }} <br> {{ form.lideind }}</td>
    </tr>
    <tr>
        <td>{{ form.tienrittenkaart }}</td>
        <td>{{ form.leerling }}</td>
        <td{{ form.instructie }}></td>
    </tr>
    <tr>
        <td>{{ form.opmerking }}</td>
        <td>{{ form.kenezacvan }}</td>
    </tr>
    <tr>
        <td>{{ form.babyvriend }} <br> {{ form.ledenlijst }} <br> {{ form.etiket }}</td>
        <td>{{ form.seniorlid }} <br> {{ form.jeugdlid }} <br> {{ form.peonderhoud }}</td>
    </tr>
    <tr>
        <td>{{ form.user }}</td>
        <td> {{ form.slotcode }}</td>
    </tr>
</table>
{{ form.submit }} {{ form.delete }}
{{ form.id }}
{{ form.wijzigingsoort }}

{{ form.form_build_id}}
{{ form.form_token }}
{{ form.form_id }}