<form {{ attributes }}>
{{ dump(attributes) }}
<table style="width:100%">
  <tr>
    <td>{{ form.voornaam }} {{ form.voorletter }} </td>
    <td>{{ form.voorvoeg}} {{ form.achternaam }}</td>
    <td>{{ form.afkorting }}</td>
  </tr>
  <tr>
    <td>{{  form.adres }}</td>
    <td>{{ form.postcode }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ form.plaats }}</td>
    <td>{{ form.land }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ form.telefoon}}</td>
    <td>{{ form.mobiel }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ form.geboortedatum }}</td>
    <td>{{ form.e_mail }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ form.code }} {{ form.actief }}</td>
    <td>{{ form.lidvan }} </td>
    <td>{{ form.lideind }}</td>
  </tr>
  <tr>
    <td>{{ form.tienrittenkaart }}</td>
    <td>{{ form.leerling }}</td>
    <td>{{ form.instructie }}</td>
  </tr>
  <tr>
    <td>{{ form.opmerking }}</td>
    <td>{{ form.kenezacvan }}</td>
    <td></td>
  </tr>
  <tr>
    <td>{{ form.jeugdlid }} {{ form.babyvriend }} </td>
    <td>{{ form.seniorlid }} {{ form.etiket }} </td>
    <td>{{ form.peonderhoud }} {{ form.ledenlijst }}</td>
  </tr>
  <tr>
    <td>{{ form.user }}</td>
    <td> {{ form.slotcode }}</td>
    <td></td>
  </tr>
</table>

  {{ render the rest of the form }}
  {{ form|without ('voornaam', 'voorvoeg','voorletter','achternaam','afkorting',
    'adres','postcode','plaats','land',
    'telefoon','mobiel',
    'geboortedatum','e_mail',
    'code','actief','lidvan','lideind',
    'tienrittenkaart','leerling','instructie',
    'opmerking','kenezacvan',
    'babyvriend','ledenlijst','etiket','seniorlid','jeugdlid','peonderhoud',
    'user','slotcode') }}

</form>