
<table style="width:100%">
    <tr>
        <td>{{ form.voornaam }} </td>
        <td>{{ form.voorletter }}</td>
        <td><{{ form.voorvoeg}}/td>
        <td>{{ form.achternaam }}</td>
    </tr>
    <tr>
        <td>{{ form.afkorting}}</td>
    </tr>
    <tr>
        <td>{{  form.adres }}</td>
    </tr>
    <tr>
        <td>{{ form.postcode }}</td>
        <td>{{ form.plaats }}</td>
    </tr>
    <tr>
        <td>{{ form.land }}</td>
    </tr>
    <tr>
        <td>{{ form.telefoon}}</td>
        <td>{{ form.mobiel }}</td>
    </tr>
     <tr>
         <td>{{ form.e_mail }}</td>
     </tr>
    <tr>
        <td>{{ form.geboortedatum }}</td>
    </tr>
    <tr>
        <td>{{ form.code }}</td>
    </tr>
    <tr>
        <td>{{ form.actief }}</td>
    </tr>
    <tr>
       <td>{{ form.lidvan }}</td>
       <td>{{ form.lideind }}</td>
    </tr>
    <tr>
        <td>{{ form.tienrittenkaart }}</td>
        <td>{{ form.leerling }}</td>
        <td{{ form.instructie }}></td>
    </tr>
    <tr>
        <td>{{ form.opmerking }}</td>
    </tr>
    <tr>
        <td>{{ form.kenezacvan }}</td>
    </tr>
    <tr>
        <td>{{ form.babyvriend }}</td>
        <td>{{ form.ledenlijst }}</td>
        <td>{{ form.etiket }}</td>
        <td>{{ form.seniorlid }}</td>
        <td>{{ form.jeugdlid }}</td>
        <td>{{ form.peonderhoud }}</td>
    </tr>
    <tr>
        <td>{{ form.usercode }}</td>
        <td> {{ form.slotcode }}</td>
    </tr>
</table>
{{ form.submit }} {{ form.delete }}
{{ form.id }}
{{ form.wijzigingsoort }}

{{ form.form_build_id}}
{{ form.form_token }}
{{ form.form_id }}